<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>adminPage</title>
</head>
<body>
    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
        </div>
        <div id="rightHeader">
            <span th:text="${nama}">Nama</span>, <span th:text="${peran}">Peran</span>
            <img th:src="@{assets/userwhite.svg}" alt="" onclick="">
        </div>
    </header>
    <main>
        <div class="mainContainer">
            <div id="functionBar">
                <input id="searchBar" type="text" placeholder="search...">
                <button id="filterButton">Filter</button>
                <button id="sortButton">Sort</button>
                <button id="view">▤</button>
                <!-- tambahan a untuk redirect -->
                <a href="/home/add">
                    <button id="addSidangButton" style="display: inline-block; height: 100%;">+</button>
                </a>
            </div>
            <div class="card">
                <div class="formContainer">
                    <div class="form-group">
                        <label form="adminPage">Admin 1</label>
                        <button form="adminPage"><img src="../assets/edit.svg"></button>
                        <button form="adminPage"><img src="../assets/delete.svg" ></button>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label form="adminPage">Mahasiswa 1</label>
                        <button form="adminPage"><img src="../assets/edit.svg" alt="" ></button>
                        <button form="adminPage"><img src="../assets/delete.svg" alt=""></button>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label form="adminPage">Dosen 1</label>
                        <button form="adminPage"><img src="../assets/edit.svg" alt=""></button>
                        <button form="adminPage"><img src="../assets/delete.svg" alt=""></button>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label form="adminPage">Dosen 2</label>
                        <button form="adminPage"><img src="../assets/edit.svg" alt=""></button>
                        <button form="adminPage"><img src="../assets/delete.svg" alt=""></button>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label form="adminPage">Mahasiswa 2</label>
                        <button form="adminPage"><img src="../assets/edit.svg" alt=""></button>
                        <button form="adminPage"><img src="../assets/delete.svg" alt=""></button>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label form="adminPageDel">Steven Febrian</label>
                        <button form="adminPageDel"><img src="../assets/inactive.svg" alt=""></button>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </main>
</body>
</html>