<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/Overlay.js" defer></script>
    <title>adminDetail</title>
    <style>
    </style>
</head>
<body>
    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
        </div>
        <div id="rightHeader">
            <span th:text="${nama}">Nama</span>, <span th:text="${peran}">Peran</span>
        </div>
        <div class="userProfile">
            <img th:src="@{../assets/userWhite.png}" alt="" onclick="showElement()">
        </div>
    </header>
    <div id="OverlayIconUser">
        <div class="UserIcon">
            <img th:src="@{../assets/userWhite.png}">
            <span th:text="${nama}">Nama</span>, <span th:text="${peran}">Peran</span>
        </div>
        <div class="Sign">
            <input type="file">
            <button type="submit">Upload Tanda Tangan</button>
        </div>
        <div class="Logout">
            <button type="button">Logout</button>
        </div>
    </div>
    <main onclick="hideElement()">
        <div class="mainContainer">
            <div id="functionBar">
                <input id="searchBar" type="text" placeholder="search...">
                <button id="filterButton">Filter</button>
                <button id="sortButton">Sort</button>
                <button id="view">▤</button>
                <!-- tambahan a untuk redirect -->
                <a href="/home/add">
                    <button id="addSidangButton" style="display: inline-block; height: 100%;">+</button>
                </a>
            </div>
            <div class="card">
                <div class="formContainer">
                    <div class="form-group">
                        <label form="adminPage">Admin 1</label>
                        <button form="adminPage"><img src="../assets/edit.svg"></button>
                        <button form="adminPage"><img src="../assets/delete.svg" ></button>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label form="adminPage">Mahasiswa 1</label>
                        <button form="adminPage"><img src="../assets/edit.svg" alt="" ></button>
                        <button form="adminPage"><img src="../assets/delete.svg" alt=""></button>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label form="adminPage">Dosen 1</label>
                        <button form="adminPage"><img src="../assets/edit.svg" alt=""></button>
                        <button form="adminPage"><img src="../assets/delete.svg" alt=""></button>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label form="adminPage">Dosen 2</label>
                        <button form="adminPage"><img src="../assets/edit.svg" alt=""></button>
                        <button form="adminPage"><img src="../assets/delete.svg" alt=""></button>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label form="adminPage">Mahasiswa 2</label>
                        <button form="adminPage"><img src="../assets/edit.svg" alt=""></button>
                        <button form="adminPage"><img src="../assets/delete.svg" alt=""></button>
                    </div>
                    <hr>
                    <div class="detailAdmin">
                        <div class="form-group">
                            <label form="adminPage">Steven Febrian</label>
                            <button form="adminPage"><img src="../assets/edit.svg" alt=""></button>
                            <!-- tambahan juga -->
                            <a href="/home/deleted">
                                <button form="adminPage"><img src="../assets/delete.svg" alt="" value="pen1"></button>
                            </a>
                        </div>
                        <div class="detailAttAdmin">
                            <div class="form-groupAdmin">
                                <label for="">Nama:</label>
                                <input type="text" name="" id="" value="Steven Febrian">
                            </div>
                            <div class="form-groupAdmin">
                                <label for="">Email:</label>
                                <input type="text" name="" id="" value="stevenfebrian@student.ac.id">
                            </div>
                            <div class="form-groupAdmin">
                                <label for="">Password:</label>
                                <input type="text" name="" id="" value="618084EZ">
                            </div>
                            <div class="form-groupAdmin">
                                <label for="role">Role:</label>
                                <select name="role" id="role">
                                    <option value="">--Pilih Peran--</option>
                                    <option value="admin">Admin</option>
                                    <option value="koord">Koordinator</option>
                                    <option value="dosen">Dosen</option>
                                    <option value="mahasiswa">Mahasiswa</option>
                                </select>
                            </div>
                            <div class="form-groupAdmin">
                                <label for="">NPM/NIK:</label>
                                <input type="text" name="" id="" value="6182201084">
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        </div>
    </main>
</body>
</html>