<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Admin Page</title>
</head>
<body>
    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
        </div>
        <div id="rightHeader">
            <span th:text="${nama}">Nama</span>, <span th:text="${peran}">Peran</span>
        </div>
    </header>
    <main>
        <div class="mainContainer">
            <div id="functionBar">
                <input id="searchBar" type="text" placeholder="search...">
                <button id="filterButton">Filter</button>
                <button id="sortButton">Sort</button>
                <button id="view">▤</button>
                <a href="/home/add">
                    <button id="addSidangButton" style="display: inline-block; height: 100%;">+</button>
                </a>
            </div>
            <div class="card">
                <div class="formContainer">
                    <div class="container_header_form">
                        <!-- <div><h3></h3></div>
                        <div>role</div> -->
                        <h3>Nama</h3>
                        <h3>Role</h3>
                        <h3>Edit</h3>
                        <h3>Delete</h3>
                    </div>
                    <div th:each="user : ${users}">
                        <div class="form-group">
                            <label class="label_nama" th:text="${user.nama}">Nama</label>
                            <span class="label_role" th:text="${user.peran}">Peran</span>
                            <a th:href="@{/home/edit(userId=${user.idUser})}">
                                <button type="button">
                                    <img th:src="@{/assets/edit.svg}" alt="Edit">
                                </button>
                            </a>
                            <a th:href="@{/home/deleted(userId=${user.idUser})}">
                                <button type="button">
                                    <img th:src="@{/assets/delete.svg}" alt="Delete">
                                </button>
                            </a>
                        </div>
                        <hr>
                    </div>
                    <div th:if="${#lists.isEmpty(users)}">
                        <p>No users found.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>