<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminTambahPeserta</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
        </div>
        <div id="rightHeader">
            Nama, admin
        </div>
    </header>
    <main>
        <div class="mainContainer">
            <div id="functionBar">
                <input id="searchBar" type="text" placeholder="search...">
                <button id="filterButton">Filter</button>
                <button id="sortButton">Sort</button>
                <button id="view">▤</button>
                <button id="addSidangButton">+</button>
            </div>
            <div class="card">
                <div class="headAdmin">
                    <!-- tambahan a untuk redirect -->
                    <a href="/home">
                        <button style="border: 0px; color:#E3F1F0" form="adminTambahPeserta"><img src="../assets/arrow.svg" alt=""></button>
                    </a>
                    <label for="" value="head">Tambah Peserta</label>
                </div>
                <div class="formContainer">
                    <div class="form-group">
                        <label for="">Nama:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">Email:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">Password:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">Role:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">NPM/NIK:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="footerAdmin">
                        <button>save</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>