<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Admin Page</title>
</head>
<body>
    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
        </div>
        <div id="rightHeader">
            <span th:text="${nama}">Nama</span>, <span th:text="${peran}">Peran</span>
        </div>
        <div class="userProfile">
            <img th:src="@{../assets/userWhite.png}" alt="" onclick="">
        </div>
    </header>
    <main>
        <div class="mainContainer">
            <div id="functionBar">
                <div>
                    <form action="/home" method="get">
                        <input id="searchBar" th:value="${query}" type="text" name="name" placeholder="Search...">
                        <button id="view" type="submit">Search</button>
                    </form>
                </div>
                <div>
                    <form action="/home" method="get">
                        <select name="filter" id="filterButton" onchange="this.form.submit()" >
                            <option id="filterButton" value="">Filter</option>
                            <option id="filterButton" value="Admin">Admin</option>
                            <option id="filterButton" value="Koordinator">Koordinator</option>
                            <option id="filterButton" value="Mahasiswa">Mahasiswa</option>
                            <option id="filterButton" value="Dosen">Dosen</option>
                        </select>
                    </form>
                </div>
                <div>
                    <form action="/home" method="get">
                        <select id="sortButton" name="sort" onchange="this.form.submit()">
                            <option id="sortButton" value="" disabled selected>Sort</option>
                            <option id="sortButton" value="true">Naik</option>
                            <option id="sortButton" value="false">Turun</option>
                        </select>
                    </form>
                </div>                
                <a href="/home/add">
                    <button id="addSidangButton" style="display: inline-block; height: 100%;">+</button>
                </a>
            </div>
            <div class="card">
                <div class="formContainer">
                    <div class="container_header_form">
                        <h3>Nama</h3>
                        <h3>Role</h3>
                        <h3>Edit</h3>
                        <h3>Delete</h3>
                    </div>
                    <div th:each="user : ${users}">
                        <div class="form-group">
                            <label class="label_nama" th:text="${user.nama}">Nama</label>
                            <span class="label_role" th:text="${user.peran}">Peran</span>
                            <a th:href="@{/home/edit(userId=${user.idUser})}">
                                <button type="button" class="img-edit">
                                    <img th:src="@{/assets/edit.svg}" alt="Edit">
                                </button>
                            </a>
                            <a th:href="@{/home/deleted(userId=${user.idUser})}">
                                <button type="button" class="img-delete">
                                    <img th:src="@{/assets/delete.svg}" alt="Delete">
                                </button>
                            </a>
                        </div>
                        <hr>
                    </div>
                    <div th:if="${#lists.isEmpty(users)}">
                        <p>No users found.</p>
                    </div>
                </div>
            </div>
        </div>
    </main> 
    <script>
        document.getElementById("sortButton").addEventListener("click", function () {
            // Ambil input tersembunyi
            const hiddenInput = document.getElementById("sortValue");
    
            // Toggle nilai "true" dan "false"
            hiddenInput.value = hiddenInput.value === "true" ? "false" : "true";
    
            // Submit form
            hiddenInput.form.submit();
        });
    </script>
</body>
</html>