<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <style>
        #linkMainPage {
            background-color: #479097;
            border: 2px solid #479097 !important;
            border-bottom: 2px solid #E3F1F0 !important;
        }
    </style>
    <title></title>
    <script src="../js/Overlay.js" defer></script>
    <script src="../js/koordinator/addSidang.js" defer></script>
</head>
<body> 
    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
            <a id="linkMainPage" href="/home">Sidang</a>
            <a id="linkKomponenNilai" href="/home/komponen-nilai">Komponen nilai</a>
        </div>
        <div id="rightHeader">
            <span th:text="${namaKoor}">Nama</span>, <span th:text="${peran}">Peran</span>
        </div>
        <div class="userProfile">
            <img th:src="@{../assets/userWhite.png}" alt="" onclick="showElement()">
        </div>
    </header>
    <div id="OverlayIconUser">
        <div class="UserIcon">
            <img th:src="@{../assets/userWhite.png}">
            <span th:text="${namaKoor}">Nama</span>, <span th:text="${peran}">Peran</span>
        </div>
        <div class="Sign">
            <input type="file">
            <button type="submit">Upload Tanda Tangan</button>
        </div>
        <div class="Logout">
            <a href="/">
                <button type="button" onclick="window.location.href='../templates/index.html'">Logout</button>
            </a>
        </div>
    </div>

    <main>
        <div class="addSidang">
            <div class="headerAddSidang">
                Tambah Sidang
            </div>
            <div class="formContainer">
                <form action="/sidang/AddSidang" method="post" onsubmit="handleSubmit(event)">
                    <!-- mahasiswa -->
                    <label for="nik"class="labelAddSidang">Mahasiswa:</label>
                    <input id="nik" type="text" class="inputSidang" name="nik" required th:value="${nik}" oninput="ambilNamaMahasiswa()" placeholder="NIK mahasiswa">
                    <br>
                    <label class="labelAddSidang"></label>
                    <input id="namaMahasiswa" type="text" class="inputSidang" name="namaMahasiswa" th:text="${nama}" placeholder="Nama mahasiswa">
                    <br><br>
                    <!-- jenis sidang -->
                    <label for="jenisSidang"class="labelAddSidang">Jenis Sidang:</label>
                    <div class="checkbox">
                        <input id="jenisSidang" type="checkbox" class="inputSidang" name="jenisSidang" value="TA1">
                        <label for="jenisSidang"class="labelAddSidang">TA 1</label>
                        <input id="jenisSidang" type="checkbox" class="inputSidang" name="jenisSidang" value="TA2">
                        <label for="jenisSidang"class="labelAddSidang">TA 2</label>
                    </div>
                    <br><br>
                    <!-- topik & judul TA -->
                    <label for="topikTA" class="labelAddSidang">Topik TA:</label>
                    <textArea id="topikTA" type="text" class="inputSidang" name="topik" required placeholder="Topik Tugas Akhir"></textArea>
                    <br>
                    <label for="judulTa" class="labelAddSidang">Judul TA:</label>
                    <textArea id="judulTa" type="text" class="inputSidang" name="judul" required placeholder="Judul Tugas Akhir"></textArea>
                    <br><br>
                    <!-- lokasi -->
                    <label for="tempat"class="labelAddSidang">Lokasi sidang:</label>
                    <input id="tempat" type="text" class="inputSidang" name="tempat" th:value="${tempat}" placeholder="Lokasi sidang">
                    <br><br>
                    <!-- tanggal -->
                    <label for="tanggal"class="labelAddSidang">Jadwal sidang:</label>
                    <input id="tanggal" type="date" class="inputSidang" name="tanggal" th:value="${tanggal}">
                    <br><br>
                    <!-- waktu -->
                    <label for="waktu"class="labelAddSidang">Waktu sidang:</label>
                    <input id="waktu" type="time" class="inputSidang" name="waktu" th:value="${waktu}">
                    <br><br>
                    <!-- pembimbing utama -->
                    <label for="nikPembimbingUtama"class="labelAddSidang">Pembimbing utama:</label>
                    <input id="nikPembimbingUtama" type="text" class="inputSidang" name="nikPembimbingUtama" required th:value="${nikPembimbingUtama}" oninput="ambilNamaPembimbingUtama()" placeholder="NIK pembimbing">
                    <br>
                    <label class="labelAddSidang"></label>
                    <input id="namaPembimbingUtama" type="text" class="inputSidang" name="namaPembimbingUtama" th:text="${nama}" placeholder="Nama pembimbing">
                    <br><br>
                    <!-- pembimbing pendamping -->
                    <label for="nikPembimbingPendamping"class="labelAddSidang">Pembimbing pendamping:</label>
                    <input id="nikPembimbingPendamping" type="text" class="inputSidang" name="nikPembimbingPendamping" th:value="${nikPembimbingPendamping}" oninput="ambilNamaPembimbingPendamping()" placeholder="NIK pembimbing">
                    <br>
                    <label class="labelAddSidang"></label>
                    <input id="namaPembimbingPendamping" type="text" class="inputSidang" name="namaPembimbingPendamping" th:text="${nama}" placeholder="Nama pembimbing">
                    <br><br>
                    <!-- ketua penguji -->
                    <label for="nikKetuaPenguji"class="labelAddSidang">Ketua penguji:</label>
                    <input id="nikKetuaPenguji" type="text" class="inputSidang" name="nikKetuaPenguji" th:value="${nikKetuaPenguji}" oninput="ambilNamaKetuaPenguji()" placeholder="NIK penguji">
                    <br>
                    <label class="labelAddSidang"></label>
                    <input id="namaKetuaPenguji" type="text" class="inputSidang" name="namaKetuaPenguji" th:text="${nama}" placeholder="Nama penguji">
                    <br><br>
                    <!-- anggota penguji -->
                    <label for="nikAnggotaPenguji"class="labelAddSidang">Anggota penguji:</label>
                    <input id="nikAnggotaPenguji" type="text" class="inputSidang" name="nikAnggotaPenguji" th:value="${nikAnggotaPenguji}" oninput="ambilNamaAnggotaPenguji()" placeholder="NIK penguji">
                    <br>
                    <label class="labelAddSidang"></label>
                    <input id="namaAnggotaPenguji" type="text" class="inputSidang" name="namaAnggotaPenguji" th:text="${nama}" placeholder="Nama penguji">
                    <br><br>

                    <!-- button -->
                    <button type="submit" id="buttonAddSidang">Save</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>