<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/Overlay.js}" defer></script>
    <style>
        #linkMainPage {
            background-color: #479097;
            border: 2px solid #479097 !important;
            border-bottom: 2px solid #E3F1F0 !important;
        }
    </style>
    <title></title>
</head>
<body> 
    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
            <a id="linkMainPage" th:href="@{/home}">Sidang</a>
            <a id="linkKomponenNilai" th:href="@{/komponen-nilai}">Komponen nilai</a>
        </div>
        <div id="rightHeader">
        </div>
        <div class="userProfile">
            <img th:src="@{/assets/userWhite.png}" alt="" onclick="showElement()">
        </div>
    </header>
    <div id="OverlayIconUser">
        <div class="UserIcon">
            <img th:src="@{/assets/userWhite.png}">
        </div>
        <div class="Sign">
            <input type="file">
            <button type="submit">Upload Tanda Tangan</button>
        </div>
        <div class="Logout">
            <a th:href="@{/}">
                <button type="button" onclick="window.location.href='../templates/index.html'">Logout</button>
            </a>
        </div>
    </div>
    <main onclick="hideElement()">
        <div class="mainContainer">
            <div id="functionBar">
                <form th:action="@{/sidang/searchSidang}" method="POST">
                    <input id="searchBar" type="text" placeholder="search..." name="judul">
                </form>
                <button id="filterButton">Filter</button>
                <button id="sortButton">Sort</button>
                
                <a th:href="@{/home/addSidang}"><button id="addSidangButton">+</button></a>
            </div>
            <p th:if="${sidangs == null}">Data sidangs tidak ditemukan</p>
            <p th:if="${sidangs != null}">Jumlah data sidang: <span th:text="${#lists.size(sidangs)}"></span></p>
            <div th:each="sidang : ${sidangs}">
                <div class="sidangContainer">
                    <div class="sidang">
                        <div class="headerSidang">
                            <label class="label_jenis" th:if="${sidang.jenisTA=='1'}">Sidang Tugas Akhir 1</label>
                            <label class="label_jenis" th:if="${sidang.jenisTA=='2'}">Sidang Tugas Akhir 2</label>
                            <label class="label_status" th:text="${sidang.status}"></label>
                        </div>
                        <div class="komponen-sidang-box">
                            <strong style="grid-area: labelNIKmahasiswa">NIK mahasiswa:</strong>
                            <span style="grid-area: isiNIKmahasiswa" class="label_nikMahasiswa" th:text="${sidang.idMahasiswa}"></span>

                            <strong style="grid-area: labelNamaMahasiswa">Nama mahasiswa:</strong>
                            <span style="grid-area: isiNamaMahasiswa" class="label_namaMahasiswa" th:text="${sidang.namaPenulis}"></span>

                            <strong style="grid-area: labelTopik">Topik:</strong>
                            <span style="grid-area: topik" class="label_topik" th:text="${sidang.topik}"></span>

                            <strong style="grid-area: labelJudul">Judul:</strong>
                            <span style="grid-area: judul" class="label_judul" th:text="${sidang.judul}"></span>

                            <strong style="grid-area: labelTempat">Lokasi:</strong>
                            <span style="grid-area: tempat" class="label_tempat" th:text="${sidang.tempat}"></span>

                            <strong style="grid-area: labelTanggal">Tanggal:</strong>
                            <span style="grid-area: tanggal" class="label_tanggal" th:text="${#temporals.format(sidang.tanggal, 'dd-MM-yyyy')}">Tanggal</span>
                            
                            <strong style="grid-area: labelWaktu">Waktu:</strong>
                            <span style="grid-area: waktu" class="label_waktu" th:text="${#temporals.format(sidang.waktu, 'HH:mm')}">Waktu</span>
                            
                            <span style="grid-area: kosong"></span>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </main>
</body>
</html>