<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="/css/profileOverlay.css"> 

    <script src="../js/Overlay.js" defer></script>
    <style>
        #linkKomponenNilai {
            background-color: #479097;
            border: 2px solid #479097 !important;
            border-bottom: 2px solid #E3F1F0 !important;
        } 
    </style>
    <title></title>
</head>
<body>
    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
            <a id="linkMainPage" href="/home">Sidang</a>
            <a id="linkKomponenNilai" href="/komponen-nilai">Komponen nilai</a>
        </div>
        <div id="rightHeader">
            <span th:text="${nama}">Nama</span>, <span th:text="${peran}">Peran</span>
        </div>
        <div class="userProfile">
            <img th:src="@{../assets/userWhite.png}" alt="" onclick="showElement()">
        </div>
    </header>
    <div id="OverlayIconUser">
        <form action="uploadTtd" method="post" enctype="multipart/form-data">
            <p>Upload tanda tangan</p>
            <img th:if="${ttd != null}" th:src="'data:image/png;base64,' + ${ttd}" alt="tanda tangan">
            <input id="ttd" type="file" accept="image/png" name="ttd" required>
            <button type="submit">Submit</button>
        </form>
        <hr>
        <form action="logout" method="post">
            <button id="logoutButton" type="submit" value="logout">Log out</button>
        </form>
    </div>
    <main onclick="hideElement()">
        <div class="card">
            <div id="judulKompNilai">Komponen Nilai</div>


            <div id="komponenNilaiDiv">
                <div class="item2">
                    <div class="bagianNilai">Bobot Nilai</div>
                    <div class="form-group">
                        <label>Ketua Tim Penguji</label>
                        <span th:text="${bobotNilaiKetuaTimPengujiT}"></span>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Anggota Tim Penguji</label>
                        <span th:text="${bobotNilaiAnggotaTimPengujiT}"></span>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Pembimbing</label>
                        <span th:text="${bobotNilaiPembimbingT}"></span>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Koordinator</label>
                        <span th:text="${bobotNilaiKoordinatorT}"></span>
                        <span class="percent">%</span>
                    </div>
                </div>
                <div class="item1">
                    <div class="bagianNilai">Bobot Nilai Penguji</div>
                    <div class="form-group">
                        <label>Tata tulis Laporan</label>
                        <span th:text="${tataTulisLaporanPengujiT}"></span>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Kelengkapan Materi</label>
                        <span th:text="${kelengkapanMateriPengujiT}"></span>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Pencapaian Tujuan</label>
                        <span th:text="${pencapaianTujuanPengujiT}"></span>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Penguasaan Materi</label>
                        <span th:text="${penguasaanMateriPengujiT}"></span>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Presentasi</label>
                        <span th:text="${presentasiPengujiT}"></span>
                        <span class="percent">%</span>
                    </div>
                </div>
                <div class="item3">
                    <div class="bagianNilai">Nilai Pembimbing</div>
                    <div class="form-group">
                        <label>Tata tulis Laporan</label>
                        <span th:text="${tataTulisLaporanPembimbingT}"></span>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Kelengkapan Materi</label>
                        <span th:text="${kelengkapanMateriPembimbingT}"></span>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Proses Bimbingan</label>
                        <span th:text="${prosesBimbinganT}"></span>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Penguasaan Materi</label>
                        <span th:text="${penguasaanMateriPembimbingT}"></span>
                        <span class="percent">%</span>
                    </div>
                </div>
            </div>

            <hr id="linePemisahKomponen">
            <br>
            <div id="textEdit">Edit:</div>
            
            <form id="komponenNilai" method="post" action="saveKomponen">
                <div class="item2">
                    <div class="bagianNilai">Bobot Nilai</div>
                    <div class="form-group">
                        <label>Ketua Tim Penguji</label>
                        <input type="number" required name="bobotNilaiKetuaTimPenguji" th:value="${bobotNilaiKetuaTimPenguji}">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Anggota Tim Penguji</label>
                        <input type="number" required name="bobotNilaiAnggotaTimPenguji" th:value="${bobotNilaiAnggotaTimPenguji}">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Pembimbing</label>
                        <input type="number" required name="bobotNilaiPembimbing" th:value="${bobotNilaiPembimbing}">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Koordinator</label>
                        <input type="number" required name="bobotNilaiKoordinator" th:value="${bobotNilaiKoordinator}">
                        <span class="percent">%</span>
                    </div>
                </div>
                <div class="item1">
                    <div class="bagianNilai">Bobot Nilai Penguji</div>
                    <div class="form-group">
                        <label>Tata tulis Laporan</label>
                        <input type="number" required name="tataTulisLaporanPenguji" th:value="${tataTulisLaporanPenguji}">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Kelengkapan Materi</label>
                        <input type="number" required name="kelengkapanMateriPenguji" th:value="${kelengkapanMateriPenguji}">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Pencapaian Tujuan</label>
                        <input type="number" required name="pencapaianTujuanPenguji" th:value="${pencapaianTujuanPenguji}">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Penguasaan Materi</label>
                        <input type="number" required name="penguasaanMateriPenguji" th:value="${penguasaanMateriPenguji}">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Presentasi</label>
                        <input type="number" required name="presentasiPenguji" th:value="${presentasiPenguji}">
                        <span class="percent">%</span>
                    </div>
                </div>
                
                <div class="item3">
                    <div class="bagianNilai">Nilai Pembimbing</div>
                    <div class="form-group">
                        <label>Tata tulis Laporan</label>
                        <input type="number" required name="tataTulisLaporanPembimbing" th:value="${tataTulisLaporanPembimbing}">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Kelengkapan Materi</label>
                        <input type="number" required name="kelengkapanMateriPembimbing" th:value="${kelengkapanMateriPembimbing}">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Proses Bimbingan</label>
                        <input type="number" required name="prosesBimbingan" th:value="${prosesBimbingan}">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Penguasaan Materi</label>
                        <input type="number" required name="penguasaanMateriPembimbing" th:value="${penguasaanMateriPembimbing}"> 
                        <span class="percent">%</span>
                    </div>
                </div>  
            </form>
            <div id="saveKomponenBerhasil" th:text="${statusB}"></div>
            <div id="saveKomponenStatus" th:text="${status}"></div>
            <button id="komponenFormButton" type="submit" form="komponenNilai">Save</button>
        </div>
    </main>
</body>
</html>