<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <style>
        #linkKomponenNilai {
            background-color: #479097;
            border: 2px solid #479097 !important;
            border-bottom: 2px solid #E3F1F0 !important;
        } 
    </style>
    <title></title>
</head>
<body>
    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
            <a id="linkMainPage" href="mainPage.html">Sidang</a>
            <a id="linkKomponenNilai" href="komponenNilai.html">Komponen nilai</a>
        </div>
        <div id="rightHeader">
            Nama, Peran
        </div>
    </header>
    <main>
        <div class="card">
            <div id="judulKompNilai">Komponen Nilai</div id="judulKompNilai">
            <form id="komponenNilai">

                <div class="item1">
                    <div class="bagianNilai">Bobot Nilai Penguji</div>
                    <div class="form-group">
                        <label>Tata tulis Laporan</label>
                        <input type="number">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Kelengkapan Materi</label>
                        <input type="number">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Pencapaian Tujuan</label>
                        <input type="number">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Penguasaan Materi</label>
                        <input type="number">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Presentasi</label>
                        <input type="number" >
                        <span class="percent">%</span>
                    </div>
                </div>
                <div class="item2">
                    <div class="bagianNilai">Bobot Nilai</div>
                    <div class="form-group">
                        <label>Ketua Tim Penguji</label>
                        <input type="number">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Anggota Tim Penguji</label>
                        <input type="number">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Pembimbing</label>
                        <input type="number">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Koordinator</label>
                        <input type="number">
                        <span class="percent">%</span>
                    </div>
                </div>
                <div class="item3">
                    <div class="bagianNilai">Nilai Pembimbing</div>
                    <div class="form-group">
                        <label>Tata tulis Laporan</label>
                        <input type="number">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Kelengkapan Materi</label>
                        <input type="number">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Proses Bimbingan</label>
                        <input type="number">
                        <span class="percent">%</span>
                    </div>
                    <div class="form-group">
                        <label>Penguasaan Materi</label>
                        <input type="number"> 
                        <span class="percent">%</span>
                    </div>
                </div>
            </form>
            <button type="submit" form="komponenNilai">Save</button>
        </div>
    </main>
</body>
</html>