body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #388087;
    width: 100%;
    height: 50px;
    padding: 0 20px;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 10px;
}

header a.active {
    background-color: #E3F1F0;
    color: #388087;
    border-radius: 5px;
}

#rightHeader {
    position: absolute;
    right: 55px;
}

main {
    padding: 20px;
}

#controls {
    display: flex;
    justify-content: center ;
    margin-bottom: 20px;

}

#controls input {
    margin-right: 10px;
    padding: 10px;
    padding-right: 230px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#controls button {
    padding: 10px 20px;
    background-color:white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

#controls button:hover {
    background-color: #388087;
    color: white;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 700px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ddd;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 635px;
}

table{
    padding: 10px;
    width: 635px;
}

table, th, td, tr{
    font-size: 13px;
    z-index: 2;
    position: relative;
}

th{
    padding-bottom: 15px;
    width: 80px;
}
td{
    padding-right: 30px;
}


.green_box{
    background-color: #D5FFA3;
    display: flex;
    width: 635px;
    height: 37px;
    position: absolute;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.yellow_box{
    background-color: #FFFEA6;
    display: flex;
    width: 635px;
    height: 37px;
    position: absolute;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gray_box{
    background-color: #EBEBEB;
    display: flex;
    width: 635px;
    height: 37px;
    position: absolute;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bold{
    font-weight: bold;
}

.no_bold{
    font-weight: normal;
}

.jam{
    padding-left: 13px;
}
a{
    z-index: 3;
    text-decoration: none;
    color: black;
}
.userProfile img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

button.img-edit {
    cursor: pointer;
    background-color: white;
    border: 0px;
}
button.img-delete {
    cursor: pointer;
    background-color: white;
    border: 0px;
}
.userProfile:hover{
    cursor: pointer;
}
#OverlayIconUser{
    width: 350px;
    height: 150px;
    border: 1px solid black;
    position: absolute;
    right: 1%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
    visibility: hidden;
}
#OverlayIconUser button:hover{
    cursor: pointer;
}
.UserIcon{
    flex: 1;
    display: flex;
    align-items: center;
}
.UserIcon img{
    width: 40px;
    height: 40px;
    background-color: #388087;
    margin-right: 20px;
    margin-top:0px;
}
.Sign{
    flex: 0.7;
}
.Sign input{
    width: 200px;
}
.Sign input::-webkit-file-upload-button{
    border: 0px;
    background-color: #388087;
    border-radius: 15px;
    color: white;
    height: 30px;
}
.Sign input::-webkit-file-upload-button:hover{
    cursor: pointer;
}
.Sign button{
    border: 0px;
    background-color: #388087;
    border-radius: 15px;
    color: white;
    height: 30px;
}
.Logout button{
    border: 0px;
    background-color: #388087;
    border-radius: 15px;
    color: white;
    height: 30px;
    width: 70px;
}

/* CSS Sidang Container */
.sidang {
    border: 1px solid #acacac;
    border-radius: 12px;
    margin: 20px 2px;
    height: 210px;
}
.headerSidang{
    box-sizing: border-box;
    align-content: center;
    text-indent: 10px;
    background-color: #D5FFA3;
    height: 35px;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}
label{
    width: 200px;
    cursor: default;
}

.komponen-sidang-box{
    display: grid;
    margin: 10px;
    grid-template-columns: 200px 350px 250px 100px;
    grid-template-areas:
        'labelNIKmahasiswa isiNIKmahasiswa labelPembimbing1 pembimbing1'
        'labelNamaMahasiswa isiNamaMahasiswa labelPembimbing2 pembimbing2'
        'labelTopik topik labelPenguji1 penguji1'
        'labelJudul judul labelPenguji2 penguji2'
        'labelTempat tempat kosong kosong'
        'labelTanggal tanggal kosong kosong'
        'labelWaktu waktu kosong kosong';
    gap: 5px;
}