<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidang Tugas Akhir</title>
    <link rel="stylesheet" href="@{/css/main.css}">
    <link rel="stylesheet" href="/css/dosen/home.css">
    <script src="../js/Overlay.js" defer></script>
</head>
<body>

    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
        </div>
        <div id="rightHeader">
            <span th:text="${nama}">Nama</span>, <span th:text="${peran}">Peran</span>
        </div>
        <div class="userProfile">
            <img th:src="@{../assets/userWhite.png}" alt="" onclick="showElement()">
        </div>
    </header>
    <div id="OverlayIconUser">
        <div class="UserIcon">
            <img th:src="@{../assets/userWhite.png}">
            <span th:text="${nama}">Nama</span>, <span th:text="${peran}">Peran</span>
        </div>
        <div class="Sign">
            <input type="file">
            <button type="submit">Upload Tanda Tangan</button>
        </div>
        <div class="Logout">
            <a href="/">
                <button type="button" onclick="window.location.href='../templates/index.html'">Logout</button>
            </a>
        </div>
    </div>
    <main onclick="hideElement()">
        <div id="functionBar">
            <div>
                <form action="/home" method="get">
                    <input id="searchBar" th:value="${query}" type="text" name="name" placeholder="Search...">
                    <button id="view" type="submit">Search</button>
                </form>
            </div>
            <div>
                <form action="/home" method="get">
                    <select name="filter" id="filterButton" onchange="this.form.submit()">
                        <option id="filterButton" value="">Filter</option>
                        <option id="filterButton" value="Admin">Admin</option>
                        <option id="filterButton" value="Koordinator">Koordinator</option>
                        <option id="filterButton" value="Dosen">Dosen</option>
                        <option id="filterButton" value="Mahasiswa">Mahasiswa</option>
                    </select>
                </form>
            </div>
            <div>
                <form action="/home" method="get">
                    <select id="sortButton" name="sort" onchange="this.form.submit()">
                        <option id="sortButton" value="" disabled selected>Sort</option>
                        <option id="sortButton" value="true">Naik</option>
                        <option id="sortButton" value="false">Turun</option>
                    </select>
                </form>
            </div>
            <a href="/home/add">
                <button id="addSidangButton" style="display: inline-block; height: 100%;">+</button>
            </a>
        </div>
        <div class="card-container">
            <a href="">
                <div class="card">
                    <div class="green_box"></div>
                    <table>
                        <tr>
                            <th>Sidang 1</th>
                            <th>Tanggal: <span class="no_bold">14/10/2024</span></th>
                            <th class="jam">Jam: <span class="no_bold">13:00-15:00</span></th>
                            <th></th>
                            <th>(Ongoing)</th>
                        </tr>
                        <tr>
                            <td class="bold">Topik </td>
                            <td colspan="2">: Implementasi IoT</td>
                            <td class="bold">Pembimbing 1</td>
                            <td>: Raymond Chandra</td>
                        </tr>
                        <tr>
                            <td class="bold">Tempat</td>
                            <td>: 10.03.00.23</td>
                            <td></td>
                            <td class="bold">Pembimbing 2</td>
                            <td>: Meow</td>
                        </tr>
                        <tr>
                            <td class="bold">Nilai</td>
                            <td>: -</td>
                            <td></td>
                            <td class="bold">Penguji 1</td>
                            <td>: Gede Karya</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bold">Penguji 2</td>
                            <td>: Keenan</td>
                        </tr>
                    </table>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="yellow_box"></div>
                    <table>
                        <tr>
                            <th>Sidang 2</th>
                            <th>Tanggal: <span class="no_bold">14/10/2024</span></th>
                            <th class="jam">Jam: <span class="no_bold">13:00-15:00</span></th>
                            <th></th>
                            <th>(Upcoming)</th>
                        </tr>
                        <tr>
                            <td class="bold">Topik </td>
                            <td colspan="2">: Mesin Otomatisasi Pencarian</td>
                            <td class="bold">Pembimbing 1</td>
                            <td>: Raymond Chandra</td>
                        </tr>
                        <tr>
                            <td class="bold">Tempat</td>
                            <td>: 10.03.00.23</td>
                            <td></td>
                            <td class="bold">Pembimbing 2</td>
                            <td>: Meow</td>
                        </tr>
                        <tr>
                            <td class="bold">Nilai</td>
                            <td>: -</td>
                            <td></td>
                            <td class="bold">Penguji 1</td>
                            <td>: Gede Karya</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bold">Penguji 2</td>
                            <td>: Keenan</td>
                        </tr>
                    </table>
                </div>
            </a>
            
            <a href="">
                <div class="card">
                    <div class="gray_box"></div>
                    <table>
                        <tr>
                            <th>Sidang 3</th>
                            <th>Tanggal: <span class="no_bold">14/10/2024</span></th>
                            <th class="jam">Jam: <span class="no_bold">13:00-15:00</span></th>
                            <th></th>
                            <th>(Finished)</th>
                        </tr>
                        <tr>
                            <td class="bold">Topik </td>
                            <td colspan="2">: Jaringan Keamanan Internet</td>
                            <td class="bold">Pembimbing 1</td>
                            <td>: Raymond Chandra</td>
                        </tr>
                        <tr>
                            <td class="bold">Tempat</td>
                            <td>: 10.03.00.23</td>
                            <td></td>
                            <td class="bold">Pembimbing 2</td>
                            <td>: Meow</td>
                        </tr>
                        <tr>
                            <td class="bold">Nilai</td>
                            <td>: -</td>
                            <td></td>
                            <td class="bold">Penguji 1</td>
                            <td>: Gede Karya</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bold">Penguji 2</td>
                            <td>: Keenan</td>
                        </tr>
                    </table>
                </div>
            </a>

        </div>
    </main>
</body>
</html>