<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="/css/profileOverlay.css"> 

    <script th:src="@{/js/Overlay.js}" defer></script>
    <style>
        #linkMainPage {
            background-color: #479097;
            border: 2px solid #479097 !important;
            border-bottom: 2px solid #E3F1F0 !important;
        }
    </style>
    <title></title>
</head>
<body> 
    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
        </div>
        <div id="rightHeader">
            <span th:text="${nama}">Nama</span>, <span th:text="${peran}">Peran</span>
        </div>
        <div class="userProfile">
            <img th:src="@{/assets/userWhite.png}" alt="" onclick="showElement()">
        </div>
    </header>
    <div id="OverlayIconUser">
        <form action="uploadTtd" method="post" enctype="multipart/form-data">
            <p>Upload tanda tangan</p>
            <img th:if="${ttd != null}" th:src="'data:image/png;base64,' + ${ttd}" alt="tanda tangan">
            <input id="ttd" type="file" accept="image/png" name="ttd" required>
            <button type="submit">Submit</button>
        </form>
        <hr>
        <form th:action="@{/logout}" method="post">
            <button id="logoutButton" type="submit" value="logout">Log out</button>
        </form>
    </div>
    <main onclick="hideElement()">
        <div class="mainContainer">
            <div id="functionBar">
                <form th:action="@{/home/searchSidang}" method="POST">
                    <input id="searchBar" type="text" placeholder="search..." name="judul">
                    <button id="view2" type="submit">Cari</button>
                </form>  
            </div>
            <p th:if="${sidangs == null}">Data sidangs tidak ditemukan</p>
            <p th:if="${sidangs != null}">Jumlah data sidang: <span th:text="${#lists.size(sidangs)}"></span></p>
            <div th:each="sidang : ${sidangs}">
                <div class="sidangContainer">
                    <form th:action="@{/sidang/detailSidang}" method="post">
                        <div class="sidang">
                            <div class="headerSidang"
                                    th:classappend="${sidang.status == 'Berlangsung' ? 'status-proses' : 
                                                        sidang.status == 'Selesai' ? 'status-selesai' : 
                                                        sidang.status == 'Belum Dimulai' ? 'status-upcoming' : ''}">
                                <label class="label_jenis" th:if="${sidang.jenisTA=='1'}">Sidang Tugas Akhir 1</label>
                                <label class="label_jenis" th:if="${sidang.jenisTA=='2'}">Sidang Tugas Akhir 2</label>
                                <label class="label_status" th:text="${sidang.status}"></label>
                                <button type="submit" class="submit-button">Detail</button>
                            </div>
                            <div class="komponen-sidang-box">
                                <input type="hidden" name="idMahasiswa" th:value="${sidang.idMahasiswa}" />
                                <input type="hidden" name="namaPenulis" th:value="${sidang.namaPenulis}" />
                                <input type="hidden" name="topik" th:value="${sidang.topik}" />
                                <input type="hidden" name="judul" th:value="${sidang.judul}" />
                                <input type="hidden" name="tempat" th:value="${sidang.tempat}" />
                                <input type="hidden" name="tanggal" th:value="${#temporals.format(sidang.tanggal, 'yyyy-MM-dd')}" />
                                <input type="hidden" name="waktu" th:value="${#temporals.format(sidang.waktu, 'HH:mm')}" />
                
                                <strong style="grid-area: labelNIKmahasiswa">NIK mahasiswa:</strong>
                                <span style="grid-area: isiNIKmahasiswa" class="label_nikMahasiswa" th:text="${sidang.idMahasiswa}"></span>
                
                                <strong style="grid-area: labelNamaMahasiswa">Nama mahasiswa:</strong>
                                <span style="grid-area: isiNamaMahasiswa" class="label_namaMahasiswa" th:text="${sidang.namaPenulis}"></span>
                
                                <strong style="grid-area: labelTopik">Topik:</strong>
                                <span style="grid-area: topik" class="label_topik" th:text="${sidang.topik}"></span>
                
                                <strong style="grid-area: labelJudul">Judul:</strong>
                                <span style="grid-area: judul" class="label_judul" th:text="${sidang.judul}"></span>
                

                                <strong style="grid-area: labelTempat">Lokasi:</strong>
                                <span style="grid-area: tempat" class="label_tempat" th:text="${sidang.tempat}"></span>
                
                                <strong style="grid-area: labelTanggal">Tanggal:</strong>
                                <span style="grid-area: tanggal" class="label_tanggal" th:text="${#temporals.format(sidang.tanggal, 'dd-MM-yyyy')}">Tanggal</span>
                
                                <strong style="grid-area: labelWaktu">Waktu:</strong>
                                <span style="grid-area: waktu" class="label_waktu" th:text="${#temporals.format(sidang.waktu, 'HH:mm')}">Waktu</span>
                
                                <span style="grid-area: kosong"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    </main>
</body>
</html>
