body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    color: white;
    box-sizing: border-box; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #388087;
    width: 100vw;
    height: 50px;
    padding: 0 20px;
    white-space: nowrap;
}

div#rightHeader {
    white-space: wrap;
    margin-left: 15px;
}

div#leftHeader {
    display: flex;
    align-items: center;
}

div#leftHeader > a {
    box-sizing: border-box;
    border: #388087 solid 2px;
    padding: 0 20px;
    align-content: center;
    height: 50px;
    text-decoration: none;
    color: white;
}

div#leftHeader > a:hover {
    border-color: #479097;
    background-color: #479097;
    cursor: pointer;
}

#judul {
    margin-right: 100px;
    font-weight: bold;
}

@media (max-width: 800px) {
    #judul {
        margin-right: 20px;
    }
}

@media (max-width: 570px) {
    #judul {
        display: none;
    }
}

main {
    height: calc(100vh - 50px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.mainContainer {
    width: 1000px;
    margin: 20px;
}

#functionBar{
    display: flex;
    height: 30px;
    width: 100%;
}

#searchBar, #filterButton, #sortButton, #addSidangButton, #view {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 2px;
    padding: 0 10px;
    border: 1px solid #acacac;
    border-radius: 12px;
}

#filterButton:hover, #sortButton:hover, #addSidangButton:hover, #view:hover {
    background-color: #eaf7f5;
    cursor: pointer;
}

#searchBar{
    align-content: center;
    width: 100%;
    outline: none;
}

#addSidangButton {
    width: 100px;
    margin-left: 20px;
}

.sidang, .addSidang {
    border: 1px solid #acacac;
    border-radius: 12px;
    margin: 20px 2px;
}

.sidang {
    height: 200px;
}

.headerSidang{
    box-sizing: border-box;
    align-content: center;
    text-indent: 10px;
    background-color: #D5FFA3;
    height: 35px;
    border-radius: 12px 12px 0 0;
}

.headerAddSidang {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-indent: 10px;
    background-color: #E3F1F0;
    height: 50px;
    border-radius: 12px 12px 0 0;
}

form > input {
    height: 100%;
    width: 50%;
    min-width: 50px;
}

label {
    display: inline-block;
    width: 120px;
    margin: 10px;
    margin-left: 0;
}

.formContainer {
    padding: 20px;
}

