body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    color: white;
    box-sizing: border-box; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #388087;
    width: 100vw;
    height: 50px;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
}

div#rightHeader {
    white-space: wrap;
    margin-left: 15px;
}

div#leftHeader {
    display: flex;
    align-items: center;
}

div#leftHeader > a {
    box-sizing: border-box;
    border: #388087 solid 2px;
    padding: 0 20px;
    align-content: center;
    height: 50px;
    text-decoration: none;
    color: white;
}

div#leftHeader > a:hover {
    border-color: #479097;
    background-color: #479097;
    cursor: pointer;
}

#judul {
    margin-right: 100px;
    font-weight: bold;
}

@media (max-width: 800px) {
    #judul {
        margin-right: 20px;
    }
}

@media (max-width: 570px) {
    #judul {
        display: none;
    }
}

main {
    height: calc(100vh - 50px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hidden {
    display: none;
}

.mainContainer, .card {
    width: 1000px;
    margin: 20px;
}

#functionBar{
    display: flex;
    justify-content: space-between;
}

#searchBar, #filterButton, #sortButton, #addSidangButton, #view {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 2px;
    padding: 0 10px;
    border: 1px solid #acacac;
    border-radius: 12px;
    height: 30px;
    width: 70px;
    font-size: 12px;
}

#filterButton:hover, #sortButton:hover, #addSidangButton:hover, #view:hover {
    background-color: #eaf7f5;
    cursor: pointer;
}

#searchBar{
    align-content: center;
    width:400px;
    outline: none;
    margin-right: 30px;
}

#addSidangButton {
    width: 100px;
    margin-left: 20px;
}

.sidang, .addSidang {
    border: 1px solid #acacac;
    border-radius: 12px;
    margin: 20px 2px;
}

.addSidang {
    height: 400px;
}

.sidang {
    height: 200px;
}

.headerSidang{
    box-sizing: border-box;
    align-content: center;
    text-indent: 10px;
    background-color: #D5FFA3;
    height: 35px;
    border-radius: 12px 12px 0 0;
}

.headerAddSidang {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-indent: 10px;
    background-color: #E3F1F0;
    height: 50px;
    border-radius: 12px 12px 0 0;
}

form > input {
    height: 100%;
    width: 50%;
    min-width: 50px;
}

label.labelAddSidang {
    display: inline-block;
    width: 120px;
    margin: 10px;
    margin-left: 0;
}

.formContainer {
    padding: 30px 60px;
}

br {
    margin: 10px;
}

input.inputSidang {
    border: 1px solid #acacac;
    border-radius: 5px;
    height: 25px;
    text-indent: 4px;
    outline: none;
}

.card {
    border: 1px solid #acacac;
    border-radius: 12px;
    margin: 0px;
    margin-top: 20px;
}

form#komponenNilai {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 50px;
}
 
.item1, .item2, .item3 {
    height: auto;
    margin: 10px;
}

div#judulKompNilai {
    margin: 0;
    background-color: #E3F1F0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 11px 11px 0 0;

}

input[type="number"] {
    text-indent: 3px;
    width: 40px;
    border: 1px solid #acacac;
    border-radius: 5px;
    height: 20px;
    outline: none;
}

.form-group {
    display: flex;
    align-items: end;
    margin: 15px 0;
    padding: 0;
    justify-content: space-between;
}

label {
    width: 160px;
}

select#role{
    width: 168px;
    height: 22px;
}

.percent{
    margin: 0 5px;
}

button[form="komponenNilai"], button#buttonAddSidang{
    background-color: #E3F1F0;
    border: none;
    align-content: center;
    height: 35px;
    float: right;
    width: 230px;
    margin: 20px 65px 50px;
    border-radius: 8px;
}

button[form="komponenNilai"]:hover{
    background-color: #d7e6e5;
    cursor: pointer;
}

div.bagianNilai {
    font-weight: bold;
}

button[form="adminPage"]{
    width: 50px;
    height: 40px;
    background-color: white;
    border: 0px;
    justify-content: center;
}
button[form="adminPage"]:hover{
    background-color: #d7e6e5;
    cursor: pointer;
}
label[form="adminPage"]{
    flex: 1;
}
button[form="adminPageDel"]{
    width: 40px;
    height: 40px;
    background-color: white;
    border: 0px;
}
label[form="adminPageDel"]{
    flex: 0.95;
}
.headAdmin{
    display: flex;
    justify-content: left;
    text-align: center;
    background-color: #E3F1F0;
    margin: 0px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 10px;
}
.headAdmin label{
    flex: 1;
}
.footerAdmin{
    text-align: right;
}
.footerAdmin button{
    width: 151px;
    height: 50px;
    border-radius: 12px;
    border: 0.1px;
    margin-right: 20px;
    margin-top: 120px;
}
.footerAdmin button:hover{
    cursor: pointer;
    background-color: #d7e6e5;
}
.detailAdmin{
    border: 1px solid black;
    height: 300px;
    border-radius: 9px;
    margin: 0px;
    padding: 0px;
}
.detailAdmin .form-group{
    padding: 10px;
    margin: 0px;
    background-color: #E3F1F0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.detailAdmin .form-group button{
    background-color: #E3F1F0;
}
.detailAdmin .form-group label{
    padding: 10px;
}
.detailAttAdmin{
    padding: 20px 60px;
}
.detailAttAdmin .form-groupAdmin{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
button[form="adminTambahPeserta"]{
    width: 50px;
    height: 40px;
    background-color: #E3F1F0;
    border: 0px;
    justify-content: center;
}
button[form="adminTambahPeserta"]:hover{
    background-color: #d7e6e5;
    cursor: pointer;
}

.container_header_form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label_nama, .label_role{
    width: 50px;
}