<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidang Tugas Akhir</title>
    <link rel="stylesheet" href="/css/mahasiswa/mahasiswaMain.css"> 
</head>
<body>
    <header>
        <div id="leftHeader">
            <span id="judul">Sidang Tugas Akhir</span>
        </div>
        <div id="rightHeader">
            <span th:text="${nama}">Nama</span>, <span th:text="${peran}">Peran</span>
        </div>
    </header>
    <main>
        <div id="controls">
            <input type="text" placeholder="Search">
            <button>Filter</button>
            <button>Sort by</button>
        </div>
        <div class="card-container">
            <a href="/home/sidang1">
                <div class="card">
                    <div class="green_box"></div>
                    <table>
                        <tr>
                            <th>Sidang 1</th>
                            <th>Tanggal: <span class="no_bold">14/10/2024</span></th>
                            <th class="jam">Jam: <span class="no_bold">13:00-15:00</span></th>
                            <th></th>
                            <th>(Ongoing)</th>
                        </tr>
                        <tr>
                            <td class="bold">Topik </td>
                            <td colspan="2">: Implementasi IoT</td>
                            <td class="bold">Pembimbing 1</td>
                            <td>: Raymond Chandra</td>
                        </tr>
                        <tr>
                            <td class="bold">Tempat</td>
                            <td>: 10.03.00.23</td>
                            <td></td>
                            <td class="bold">Pembimbing 2</td>
                            <td>: Meow</td>
                        </tr>
                        <tr>
                            <td class="bold">Nilai</td>
                            <td>: -</td>
                            <td></td>
                            <td class="bold">Penguji 1</td>
                            <td>: Gede Karya</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bold">Penguji 2</td>
                            <td>: Keenan</td>
                        </tr>
                    </table>
                </div>
            </a>

            <a href="/home/sidang2">
                <div class="card">
                    <div class="yellow_box"></div>
                    <table>
                        <tr>
                            <th>Sidang 2</th>
                            <th>Tanggal: <span class="no_bold">14/10/2024</span></th>
                            <th class="jam">Jam: <span class="no_bold">13:00-15:00</span></th>
                            <th></th>
                            <th>(Upcoming)</th>
                        </tr>
                        <tr>
                            <td class="bold">Topik </td>
                            <td colspan="2">: Mesin Otomatisasi Pencarian</td>
                            <td class="bold">Pembimbing 1</td>
                            <td>: Raymond Chandra</td>
                        </tr>
                        <tr>
                            <td class="bold">Tempat</td>
                            <td>: 10.03.00.23</td>
                            <td></td>
                            <td class="bold">Pembimbing 2</td>
                            <td>: Meow</td>
                        </tr>
                        <tr>
                            <td class="bold">Nilai</td>
                            <td>: -</td>
                            <td></td>
                            <td class="bold">Penguji 1</td>
                            <td>: Gede Karya</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bold">Penguji 2</td>
                            <td>: Keenan</td>
                        </tr>
                    </table>
                </div>
            </a>
            
            <a href="/home/sidang3">
                <div class="card">
                    <div class="gray_box"></div>
                    <table>
                        <tr>
                            <th>Sidang 3</th>
                            <th>Tanggal: <span class="no_bold">14/10/2024</span></th>
                            <th class="jam">Jam: <span class="no_bold">13:00-15:00</span></th>
                            <th></th>
                            <th>(Finished)</th>
                        </tr>
                        <tr>
                            <td class="bold">Topik </td>
                            <td colspan="2">: Jaringan Keamanan Internet</td>
                            <td class="bold">Pembimbing 1</td>
                            <td>: Raymond Chandra</td>
                        </tr>
                        <tr>
                            <td class="bold">Tempat</td>
                            <td>: 10.03.00.23</td>
                            <td></td>
                            <td class="bold">Pembimbing 2</td>
                            <td>: Meow</td>
                        </tr>
                        <tr>
                            <td class="bold">Nilai</td>
                            <td>: -</td>
                            <td></td>
                            <td class="bold">Penguji 1</td>
                            <td>: Gede Karya</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bold">Penguji 2</td>
                            <td>: Keenan</td>
                        </tr>
                    </table>
                </div>
            </a>

        </div>
    </main>
</body>
</html>